{% extends 'base.html' %} {% block content %}
    <div>
        <div class="container pt-4">
            <div class="row p-0 mt-4">
                <div class="col-lg-4 mx-auto shadow p-0">
                    <div class="alert alert-info">
                        <h2>Calculate</h2>
                    </div>
                    <div class="p-4">
                        <form id="cal-form">
                            {% csrf_token %} {{ form.as_p }}
                            <div class="calculator card">
                                <div class="calculator-keys">
                                    <button
                                            type="button"
                                            class="operator btn btn-info"
                                            value="+"
                                            onclick="dis('+')"
                                    >
                                        +
                                    </button>
                                    <button
                                            type="button"
                                            class="operator btn btn-info"
                                            value="-"
                                            onclick="dis('-')"
                                    >
                                        -
                                    </button>
                                    <button
                                            type="button"
                                            class="operator btn btn-info"
                                            value="*"
                                            onclick="dis('*')"
                                    >
                                        &times;
                                    </button>
                                    <button
                                            type="button"
                                            class="operator btn btn-info"
                                            value="/"
                                            onclick="dis('/')"
                                    >
                                        &divide;
                                    </button>

                                    <button
                                            type="button"
                                            value="7"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('7')"
                                    >
                                        7
                                    </button>
                                    <button
                                            type="button"
                                            value="8"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('8')"
                                    >
                                        8
                                    </button>
                                    <button
                                            type="button"
                                            value="9"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('9')"
                                    >
                                        9
                                    </button>

                                    <button
                                            type="button"
                                            value="4"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('4')"
                                    >
                                        4
                                    </button>
                                    <button
                                            type="button"
                                            value="5"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('5')"
                                    >
                                        5
                                    </button>
                                    <button
                                            type="button"
                                            value="6"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('6')"
                                    >
                                        6
                                    </button>

                                    <button
                                            type="button"
                                            value="1"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('1')"
                                    >
                                        1
                                    </button>
                                    <button
                                            type="button"
                                            value="2"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('2')"
                                    >
                                        2
                                    </button>
                                    <button
                                            type="button"
                                            value="3"
                                            class="btn btn-light waves-effect"
                                            onclick="dis('3')"
                                    >
                                        3
                                    </button>

                                    <button
                                            type="button"
                                            class="btn btn-light waves-effect"
                                            value="0"
                                            onclick="dis('0')"
                                    >
                                        0
                                    </button>
                                    <button
                                            type="button"
                                            class="decimal function btn btn-secondary"
                                            value="."
                                            onclick="dis('.')"
                                    >
                                        .
                                    </button>
                                    <button
                                            type="button"
                                            class="all-clear function btn btn-danger btn-sm"
                                            value="c"
                                            onclick="clr()"
                                    >
                                        AC
                                    </button>

                                    <button
                                            type="submit"
                                            class="equal-sign operator btn btn-info"
                                            value="="
                                    >
                                        =
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col">
                    <div id="history" class="border">

                        <table id="table" class="hidden table logs">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>UserId</th>
                                <th>Expression</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
