.calculator-screen {
    width: 100%;
    height: 80px;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 3rem;
}

.equal-sign {
    height: 98%;
    grid-area: 2 / 4 / 6 / 5;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}